/* ############ FONTS ############ */


@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/futura-book.eot');
    src: url('../fonts/futura-book.eot') format('embedded-opentype'),
         url('../fonts/futura-book.woff') format('woff'),
         url('../fonts/futura-book.ttf') format('truetype'),
         url('../fonts/futura-book.svg#FuturaBook') format('svg');
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('../fonts/futura.eot');
    src: url('../fonts/futura.eot') format('embedded-opentype'),
         url('../fonts/futura.woff') format('woff'),
         url('../fonts/futura.ttf') format('truetype'),
         url('../fonts/futura.svg#FuturaMedium') format('svg');
}

@font-face {
    font-family: 'FuturaStdBookBold';
    src: url('../fonts/futurastd-bold-webfont.eot');
    src: url('../fonts/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-bold-webfont.woff') format('woff'),
         url('../fonts/futurastd-bold-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-bold-webfont.svg#FuturaStdBookBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font: normal 16px/1.4 arial,sans-serif;
	color: #99a4ab;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'FuturaBook';
}

html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

html {
       overflow-y: scroll;
}

body {
	background: #ffffff;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #e8e1dc;
    text-shadow: none;
}

::selection {
    background: #e8e1dc;
    text-shadow: none;
}

a {
	text-decoration: none;
}

a:hover{
	opacity:0.6;
}

b, strong {
	font-weight: normal;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: none;
}

h1{
	font-size:30px;
	color:#333544;
}
h2{
	font-size:18px;
}

h3{
	font-size:30px;
	color:#a0a0be;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

p {
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
a:hover{
	opacity:0.5;
	text-decoration:none;
}
a:focus {
    outline: unset;
    outline-offset: unset;
}
a:focus, a:hover {
    color: unset;
    text-decoration: unset;
}


/* GLOBAL */
a.healcode-link{
	color:#ffffff;
}
.instagram{
	position:absolute;
	right:78px;
	top:31px;
	width:18px;
	z-index:20;
}
.instagram img{
	width:18px;
}
.login-register{
	position:absolute;
	left:34px;
	top:34px;
	z-index:20;
	text-transform: uppercase;
	color:#ffffff;
	letter-spacing:4px;
	font-size:14px;
}
.login-register:hover{
	color:#ffffff;
	opacity:0.5;
	text-decoration:none;
}
/* animated menu icon */
#nav-icon3{
	z-index: 40;
  	width: 20px;
  	height: 40px;
  	position: absolute;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
  	cursor: pointer;
  	position:absolute;
	right:34px;
	top:26px;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 9px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 16px;
}
#nav-icon3 span:nth-child(4) {
  top: 23px;
}
#nav-icon3.change span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3.change span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color:#000000;
}
#nav-icon3.change span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:#000000;
}
#nav-icon3.change span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* MENU */
.menu{
	display:none;
	position:absolute;
	width:100%;
	color:#000000;
	background-color:#ffffff;
	opacity:0;
	-webkit-transition: 0.2s; /* Safari */
    transition: 0.2s; 
    top:0px;
    /*height:0px;*/
}
.menu.reveal{
	display:block;
	z-index:30;
	opacity:1;
	height:auto;
	/*height:100vh;*/
}

.menu .inner{
	margin:16px;
	border:none;
	/*height:0px;*/    
}
.menu.reveal .inner{
	margin:16px;
	border:2px solid #000000;
	min-height: calc(100% - 32px);   
	height: auto; 
}

.menu .inner .container,
.menu .inner .row.manors,
.menu .inner .manor,
.menu .inner .manor h2,
.menu .inner .manor p.price,
.menu .inner .manor p.package,
.menu .inner .manor .buttons-surround,
.menu .inner .manor .button.join,
.menu .inner .manor .button.book{
	height:0px;
}
.menu.reveal .inner .container,
.menu.reveal .inner .row.manors,
.menu.reveal .inner .manor,
.menu.reveal .inner .manor h2,
.menu.reveal .inner .manor p.price,
.menu.reveal .inner .manor p.package,
.menu.reveal .inner .manor .buttons-surround,
.menu.reveal .inner .manor .button.join,
.menu.reveal .inner .manor .button.book{
	height:auto;
}

.menu h1{
	color: #000000;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 15px;
    text-align: center;
    margin-top:120px;
    margin-bottom:90px;
    margin-bottom: 36px;
}
.menu .intro-text{
	text-align:center;
	margin-bottom:45px;
}
.menu .intro-text p{
	margin-bottom:20px;
}
.menu .intro-text a{
	color:#000000;
	text-decoration:underline;
}
.menu .row.manors{
    display: flex;
    flex-wrap: wrap;
	-webkit-justify-content: center;
    justify-content: center;
}
.menu .row.manors:before, .menu .row.manors:after{
  content: " ";
  display: table;
  width:100%;
}
.menu .row.manors > [class*='col-'] {
    display: flex;
	display:block;
}
.menu .row.manors img.area-logo{
	width:78px;
	display:block;
	margin:0 auto;

}
.menu.reveal .inner{
	display:none;
}
.menu .inner {
	display:none;
}
.menu.reveal .inner{
	display:block;
}
.menu .manor {
	text-align:center;
	margin-top:30px;
	margin-bottom:130px;
	color:#000000;
}
.menu .manor h2{
	font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.menu .manor p.price{
	font-size:15px;
	margin-bottom:5px;
}
.menu .manor p.package{
	font-size:15px;
	margin-bottom:20px;
}
.menu .manor a.button{
	font-size: 12px;
    color: #ffffff;
    padding: 2px 10px;
    background-color: #000000;
    letter-spacing: 1px;
    margin: 0 4px;
    width: 106px;
    display: inline-block;
}
.menu .manor .button{
	font-size: 12px;
    color: #ffffff;
    padding: 2px 10px;
    background-color: #000000;
    letter-spacing: 1px;
    margin: 0 4px;
    width: 106px;
    display: inline-block;
}
.menu .get-in-touch{
	padding-bottom:90px;
}
.menu .get-in-touch.app-download{
	padding-bottom:45px;
}
.menu .get-in-touch h2{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom:15px;
}
.menu .get-in-touch .social-surround,
.menu .get-in-touch .app-surround{
    text-align:center;
}
.menu .get-in-touch .social-surround a,
.menu .get-in-touch .app-surround a{
    margin:0 4px;
}
.menu .get-in-touch .social-surround .social-icon img{
	height:18px;
} 
.menu .get-in-touch .app-surround .app-icon img{
	height:50px;
	margin-bottom:8px;
}
.se1-surround{
	/*opacity:0.5;*/
}
.menu .manor .social-icon img {
    height: 18px;
    margin-top:20px;
}
.menu .miscellaneous-surround{
    display: flex;
    flex-wrap: wrap;
	-webkit-justify-content: center;
    justify-content: center;
}

/* INDEX */
/* SLIDES */
body.home .slide{
	height:100vh;
	width:100%;
	background-size:cover;
	background-position:center top;
	background-repeat: no-repeat;
	background-color:#000000;
}
body.home .slide.landing{
	background-image:url('../images/hp_new.jpg');
}
body.home .slide.w1a{
	background-image:url('../images/herow1_a_new.jpg');
}
body.home .slide.w1b{
	background-image:url('../images/herow1_b_new.jpg');
}
body.home .slide.sw1a{
	background-image:url('../images/herosw1_a_new.jpg');
}
body.home .slide.sw1b{
	background-image:url('../images/herosw1_b_new.jpg');
}
body.home .slide.se1a{
	background-image:url('../images/herose1_a_new.jpg');
}
body.home .slide.se1b{
	background-image:url('../images/herose1_b_new.jpg');
}
body.home .slide.ec1a{
	background-image:url('../images/heroec1_a_new.jpg');
}
body.home .slide.ec1b{
	background-image:url('../images/heroec1_b_new.jpg');
}
body.home .slide .inner{
	margin:16px;
	border:2px solid #ffffff;
	height: calc(100% - 32px);    
}
/* SLIDE CONTENT */
.slide .manor-logo{
	width: 380px;
    display: table;
    margin: 0 auto;
    /*top: 26%;*/
    top: 253px;
    position: absolute;
    left: 50%;
    margin-left: -190px;
}
.slide.landing h2{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 19px;
    text-align: center;
    position: absolute;
    width: calc(100% - 32px);
    /*top: 38%;*/
    top: 360px;
    margin-left:-2px;
}
.slide .area-logo{
	width: 80px;
    display: table;
    margin: 0 auto;
    /*top: 12%;*/
    top:116px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}
.slide h2{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: calc(100% - 32px);
    /*top: 23%;*/
    top: 224px;
}
.slide h3{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    width: calc(100% - 32px);
    /*top: 25%;*/
    top: 244px;
}
.slide img.strapline{
	display: block;
    height:100px;
    /*top: 35%;*/
    top: 341px;
    position: absolute;
    left: 50%;
    margin-left: -295px;
    opacity:0.8;
    /*opacity: 1;*/
    mix-blend-mode: multiply;
}
.slide.sw1a img.strapline{
    margin-left: -317px;
}
.slide.ec1a img.strapline{
    margin-left: -407px;
}
.slide.w1a img.strapline{
    margin-left: -254px;
}
.slide.se1a img.strapline{
    margin-left: -404px;
}
.slide a.book-button{
	color: #000000;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 15px;
    padding: 5px 15px 4px 20px;
    background-color: #ffffff;
    display: table;
    margin: 0 auto;
    position: absolute;
    /*bottom: 14%;*/
    bottom: 136px;
    left: 50%;
    margin-left: -107px;
}
/* Promotion on EC1 */
.promotion{
	position:absolute;
	bottom:75px;
	left:75px;
	background-color:RGBA(0,0,0,0.8);
	padding:6px;
    z-index: 10;
}
.promotion.remove{
	display:none;
}
.promotion-inner{
    border: 2px solid #ffffff;
    padding-top: 45px;
    position:relative;
}
.promotion-inner img.promotion-close{
	position:absolute;
	top:10px;
	right:10px;
	width:15px;
	cursor:pointer;
}
.promotion-inner img.promotion-close:hover{
	opacity:0.5;
}
.promotion-inner img.fight-for-your-manor{
	width:410px;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
    padding-left: 40px;
    padding-right: 40px;
}
.promotion-inner p{
	text-transform:uppercase;
	text-align:center;
	font-size:13px;
	letter-spacing:2px;
	color:#ffffff;
	margin-bottom:2px;
}
.promotion-inner a.buy{
    display: table;
    margin: 0 auto;
    padding: 4px 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 36px;
    margin-bottom: 32px;
}

/* BOOK */
body .home-icon{
	height:26px;
	left: 34px;
    top: 31px;
    position:absolute;
}
body.book{
	background-color:#000000;
}
body.book .main-content.reduce{
	display:none;
}
body.book .main-content .area-logo{
	width: 80px;
    display: block;
    margin: 0 auto;
    padding-top: 170px;
}
body.book .main-content h2{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    margin-top:20px;
}
body.book  .main-content h3{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    margin-top:5px;
}
body.book  .main-content h4{
	text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 8px;
    font-size: 16px;
    text-align: center;
    margin-top:40px;
}
body.book .book-content-surround{
	/*width:100%;
	max-width:1680px;*/
	padding:70px;
	margin:0 auto;
}
body.book .book-content-surround img{
	/*width:100%;*/
}








@media only screen and (max-width: 1350px) {
	
	.promotion {
	    bottom: 210px;    
	    left: 50%;
    	margin-left: -213px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.slide img.strapline{
		display: block;
	    height:70px;
	    top: 306px;
	    position: absolute;
	    left: 50%;
	}
	.slide.sw1a img.strapline{
	    margin-left: -222px;
	}
	.slide.ec1a img.strapline{
	    margin-left: -285px;
	}
	.slide.w1a img.strapline{
	    margin-left: -178px;
	}
	.slide.se1a img.strapline{
	    margin-left: -282px;
	}
	.login-register {
	    top: 37px;
	    letter-spacing: 2px;
	    font-size: 12px;
	}
	.menu h1 {
	    margin-top: 90px;
	}
	.menu .manor {
	    margin-top: 0px;
	    margin-bottom: 90px;
	}
	body.book .main-content .area-logo {
	    padding-top: 90px;
	}



}


@media only screen and (max-width: 810px) {

	.menu .intro-text p br{
	    display:none;
	}

}


@media only screen and (max-width: 767px) {
	
	.slide .manor-logo {
	    width: 280px;
	    /*top: 26%;*/
	    top:173px;
	    margin-left: -140px;
	}
	.slide.landing h2 {
	    top: 247px;
	}
	.slide.landing h2 {
	    font-size: 14px;
	    /*top: 360px;*/
	}
	.slide img.strapline{
		display: block;
	    height:35px;
	    top: 218px;
	    position: absolute;
	    left: 50%;
	}
	.slide.sw1a img.strapline{
	    margin-left: -111px;
	}
	.slide.ec1a img.strapline{
	    margin-left: -143px;
	}
	.slide.w1a img.strapline{
	    margin-left: -89px;
	}
	.slide.se1a img.strapline{
	    margin-left: -141px;
	}
	.login-register {
	    top: 37px;
	    letter-spacing: 2px;
	    font-size: 12px;
	}
	.slide .area-logo {
	    width: 56px;
	    margin-left: -28px;
	    top:82px;
	}
	.slide h2{
	    font-size: 12px;
        top: 153px;
	}
	.slide h3{
	    font-size: 12px;
	    top: 169px;
	}
	body.book .main-content h2{	    
		font-size: 12px;
	}
	body.book  .main-content h3{
	    font-size: 12px;
	}
	.slide a.book-button {
	    bottom: 96px;
	}

	.menu h1 {
	    letter-spacing: 4px;
	    font-size: 14px;
	    padding-left:15px;
	    padding-right:15px;
        line-height: 1.3;
	}
	.menu .intro-text p{
	    font-size:14px;
	    margin-bottom:15px;
	}
	.menu .manor {
	    margin-bottom: 60px;
	}
	.menu .row.manors img.area-logo {
	    width: 64px;
	}
	.menu .manor h2 {
	    font-size: 13px;
	    margin-top: 12px;
	    margin-bottom: 5px;
	    letter-spacing: 2px;
	}
	.menu .manor p.price {
	    font-size: 15px;
	    margin-bottom: -2px;
	}
	.menu .manor p.package {
	    font-size: 13px;
	    margin-bottom: 10px;
	}
	.menu .manor a.button {
	    display: table;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}
	.menu .manor .button {
	    display: table;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}
	body.book .main-content h4 {
		font-size:14px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	body.book .book-content-surround {
	    padding: 70px 15px;
	}

	.menu .col-sm-6{
		width:100%;
	}
	.menu .manor .social-icon img {
	    margin-top: 0px;
	}

	.promotion {
	    bottom: 160px;
	    left: 50%;
	    margin-left: -148px;
	}
	.promotion-inner img.fight-for-your-manor {
	    width: 280px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.promotion-inner p {
	    font-size: 11px;
	    margin-bottom: 2px;
	}
		
}





@media only screen and (max-width: 400px) {

	.slide .manor-logo {
	    width: 220px;
	    margin-left: -110px;
	}
	.slide.landing h2 {
	    top: 230px;
	    font-size: 11px;
	}


}

@media only screen and (max-height: 700px) and (min-width: 768px){
	
	.slide img.strapline{
		display: block;
	    height:70px;
	    top: 306px;
	    position: absolute;
	    left: 50%;
	}
	.slide.sw1a img.strapline{
	    margin-left: -222px;
	}
	.slide.ec1a img.strapline{
	    margin-left: -285px;
	}
	.slide.w1a img.strapline{
	    margin-left: -178px;
	}
	.slide.se1a img.strapline{
	    margin-left: -226px;
	}
	.slide a.book-button {
	    bottom: 96px;
	}	

}

@media only screen and (max-height: 600px) and (min-width: 768px){
	
	.login-register{
		left: 65px;
	}
	.slide .manor-logo {
	    width: 280px;
	    /*top: 26%;*/
	    top:173px;
	    margin-left: -140px;
	}
	.slide.landing h2 {
	    top: 253px;
	    font-size: 14px;
	}
	.slide img.strapline{
		display: block;
	    height:35px;
	    top: 218px;
	    position: absolute;
	    left: 50%;
	}
	.slide.sw1a img.strapline{
	    margin-left: -111px;
	}
	.slide.ec1a img.strapline{
	    margin-left: -143px;
	}
	.slide.w1a img.strapline{
	    margin-left: -89px;
	}
	.slide.se1a img.strapline{
	    margin-left: -113px;
	}
	.login-register {
	    top: 37px;
	    letter-spacing: 2px;
	    font-size: 12px;
	}
	.slide .area-logo {
	    width: 56px;
	    margin-left: -28px;
	    top:82px;
	}
	.slide h2 {
        top: 153px;
	}
	.slide h3 {
	    top: 169px;
	}
	.slide a.book-button {
	    bottom: 96px;
	}

	.menu h1 {
	    letter-spacing: 5px;
	    font-size: 14px;
	    padding-left:15px;
	    padding-right:15px;
	    margin-bottom: 60px;
	}
	.menu .manor {
	    margin-bottom: 60px;
	}
	.menu .row.manors img.area-logo {
	    width: 64px;
	}
	.menu .manor h2 {
	    font-size: 13px;
	    margin-top: 18px;
	    margin-bottom: 10px;
	    letter-spacing: 2px;
	}
	.menu .manor p.price {
	    font-size: 15px;
	    margin-bottom: 5px;
	}
	.menu .manor p.package {
	    font-size: 13px;
	    margin-bottom: 20px;
	}
	.menu .manor a.button {
	    display: table;
	    margin: 0 auto;
	    margin-bottom: 5px;
	}
	body.book .main-content h4 {
		font-size:14px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	body.book .book-content-surround {
	    padding: 70px 30px;
	}

	.col-sm-6{
		width:50%;
	}

}


@media only screen and (max-height: 750px) and (max-width: 1350px){

	.promotion {
	    bottom: 86px;
	    margin-left:-211px;
	}
	/*.promotion-inner {
	    padding-top: 11px;
	}*/
	.promotion-inner img.fight-for-your-manor {
    	width: 406px;
	    padding-left: 70px;
	    padding-right: 70px;
	    margin-bottom: 10px;
	}
	.promotion-inner p {
	    margin-bottom: -2px;
	}
	.promotion-inner a.buy {
	    padding: 1px 10px;
	    letter-spacing: 3px;
	    font-size: 11px;
	    margin-top: 11px;
	    margin-bottom: 11px;
	}

	.slide a.book-button {
	    bottom: 48px;
	}

}


@media only screen and (max-height: 450px){

	.slide .area-logo {
	    top: 38px;
	}
	.slide h2 {
	    top: 110px;
	}
	.slide h3 {
	    top: 127px;
	}
	.slide img.strapline {
	    top: 172px;
	}

}


@media only screen and (max-width: 500px){

.promotion {
	    bottom: 160px;
	    left: 50%;
	    margin-left: -148px;
	}
	.promotion-inner img.fight-for-your-manor {
	    width: 280px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.promotion-inner p {
	    font-size: 11px;
	    margin-bottom: 2px;
	}

		
}

@media only screen and (max-height: 770px){
	
	.slide .manor-logo {
	    top: 220px;
	}
	.slide.landing h2 {
	    top: 288px;
	}

}
@media only screen and (max-height: 770px) and (min-width: 768px){
	
	.slide .manor-logo {
	    top: 220px;
	}
	.slide.landing h2 {
	    top: 308px;
	}

}

@media only screen and (max-height: 450px){
	
	.slide .manor-logo {
	    top: 96px;
	}
	.slide.landing h2 {
	    top: 157px;
	}

}

@media only screen and (max-height: 400px){
	

	.promotion-inner {
	     padding-top: 11px; 
	}

}


@media (min-width: 992px){
	
	.container {
	     width: unset; 
	}

}

@media (min-width: 768px){
	
	.container {
	     width: unset; 
	}

}

.semantic-content .modal-close::after {
    left: 50.8%!important;
    top: 105px!important;
    color: #000!important;
}